package $packageName;

import com.thoughtworks.xstream.annotations.XStreamImplicit;
import org.apache.camel.component.salesforce.api.dto.AbstractQueryRecordsBase;

import java.util.List;
import javax.annotation.Generated;

@Generated("org.apache.camel.maven.CamelSalesforceMojo")
public class $recordName extends AbstractQueryRecordsBase {

    @XStreamImplicit
    private List<$sObjectName> records;

    public List<$sObjectName> getRecords() {
        return records;
    }

    public void setRecords(List<$sObjectName> records) {
        this.records = records;
    }
}